<script type="text/javascript" src="@Url.Content("~/Scripts/Finished.js")"></script>
<h2>Finished Execution....wait 15 minutes before you execute again.</h2>
<div class="btn-primary" id="executeAgain" data-url="Execute?accessToken=@ViewBag.AccessToken">Get Strava More Data</div>


