<script type="text/javascript">
    var buttonPath = "@Url.Action("Execute")";
    var code = "@ViewBag.Code"; 
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/GetAccessToken.js")"></script>
<h2 id="accessToken">Access Token: Pending</h2>
<div class="btn-primary" id="containerForButton">Get Strava Data</div>

